/* HeroSection.module.css */

.heroSection {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the carousel */
  padding: 0 20px; /* Add padding on the left and right */
  padding-top: 20px;
  overflow: hidden;
}

.slide {
  text-align: center;
  padding: 0;
}

.slideImage {
  width: 100%;
  height: 100%;
  max-height: 500px; /* Adjust this if needed */
  object-fit: contain; /* Show the full image */
}



/* Custom styles for slick dots */
.slick-dots {
  bottom: 20px;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
}

.slick-dots li.slick-active button {
  background-color: #007bff;
}

.pioneerSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.pioneerText {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.pioneerText h2 {
  font-size: 2rem;
  color: #171515;
  margin-bottom: 20px;
}

.pioneerText p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.pioneerImage {
  flex: 1;
  min-width: 300px;
  text-align: center;
  padding: 20px;
}

.pioneerImage img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


.contactSection {
  margin-top: 80px;
  padding: 60px 30px;
  background: #f9f9f9;
  border-radius: 16px;
}

.contactTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #222;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.contactLogo img {
  max-width: 320px;
  padding-top: 50%;
  width: 100%;
  height: auto;
}

.contactForm {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formRow input,
.formRow select {
  flex: 1;
  min-width: 220px;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  transition: border 0.3s ease;
}

.contactForm input:focus,
.contactForm select:focus,
.contactForm textarea:focus {
  border-color: #0c42ac;
  outline: none;
}

.charCounter {
  font-size: 0.9rem;
  color: #999;
  margin-left: auto;
}

.contactForm textarea {
  resize: vertical;
  min-height: 100px;
}

.contactForm button {
  background-color: #0c42ac;
  color: #fff;
  border: none;
  padding: 14px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start;
  transition: background 0.3s ease;
}

.contactForm button:hover {
  background-color: #04136a;
}
